<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Generic Widget</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<style>
		.mono {
			font-family: monospace;
		}
	</style>
</head>

<body>
	<div id="app" style="display:none;">
		<v-app>
			<v-content>
				<v-container grid-list-xs text-xs-center>
					<v-layout row wrap>
						<v-flex xs12>
							<!-- items -->
							<v-list dense>
								<v-list-subheader>{{itemclass}}</v-list-subheader>
								<!-- item filter backend -->

								<!-- item filter frontend -->
								<v-list-subheader>
									<v-text-field label="filter" v-model="filtername"></v-text-field>
								</v-list-subheader>
								<!-- item list -->
								<v-list-item-group v-model="selected" color="primary">
									<template v-for="(e,index) in items" :key="e.value">
										<v-list-item two-line
											v-if="filtername=='' || e.text.toLowerCase().indexOf(filtername.toLowerCase())!=-1">

											<v-list-item-content @click="itemdetails(e)">
												<v-list-item-title>
													{{e.text}}
												</v-list-item-title>
												<v-list-item-subtitle></v-list-item-subtitle>
											</v-list-item-content>

											<v-list-item-icon>
											</v-list-item-icon>

										</v-list-item>
										<v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
									</template>
								</v-list-item-group>
							</v-list>
						</v-flex>

						<v-flex xs12>
							<!-- buttons -->
							<v-btn color="primary" @click="run()">run</v-btn>
							<v-switch inset label="Debug" v-model="debug"></v-switch>
						</v-flex>
						<v-flex xs6 v-if="debug">
							<v-textarea v-model="query" class="mono" rows="40"></v-textarea>
						</v-flex>
						<v-flex xs6 v-if="debug">
							<v-textarea v-model="queryresult" class="mono" rows="40"></v-textarea>
						</v-flex>
					</v-layout>
				</v-container>
			</v-content>
		</v-app>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="http://linkedwidgets.org/widgets/WidgetHub.js"></script>
<script type="text/javascript" src="http://linkedwidgets.org/autobahn.min.jgz"></script>
<script type="text/javascript" src="commonutil.js"></script>
<script type="text/javascript">
	function run(data) {
		if (output != undefined)
			hub.returnOutput(output)
		else
			app.queryitems()

		console.log("run", output)
	}

	var output
	var app
	var hub = new WidgetHub({
		size: { width: 440, height: 320 }, // the width, height of your widget (in pixels)
		terminals: [ // define the position of your terminals
			{
				"name": "output",
				"position": { "left": 1, "top": 1 / 2 },
				"type": "output"
			}
		],
		resizable: true	// decide whether your widget is resizable or not
	}, run)

	// load base widget config
	widgetconfig = "default.config.json"
	// TODO: if query param contains extended config (default values), load from it instead
	qparam = getJsonFromUrl()
	console.log(qparam)
	if (qparam['cfg'] != undefined) widgetconfig = qparam['cfg']
	console.log('using config : ' + widgetconfig)

	axios.get(widgetconfig).then(function (response) {
		console.log(response)
		cfg = response.data
		buildUI()
	}).catch(function (error) {
		//try build UI using query parameter
		buildUI(qparam)
	})

	function buildUI(cfg) {
		if (cfg.querytemplate == undefined)
			cfg.querytemplate = "PREFIX schema: <http://schema.org/>\nPREFIX dct: <http://purl.org/dc/terms/>\nselect ?item ?title where {?item a ?class; dct:title ?title \n#filterclause\n} limit 10"
		app = new Vue({
			el: '#app',
			vuetify: new Vuetify({}),
			data: {
				// generic widget data
				itemclass: 'Item Classname',
				items: [],
				selected: null,
				filtername: '',
				endpoint: cfg.endpoint || '#',
				// data access info
				result_type: cfg.result_type || 'application/json; charset=utf-8',
				method: cfg.method || 'GET',
				query: cfg.querytemplate, //list items
				querytemplate: cfg.querytemplate,//base template
				queryresult: '',
				debug: false,
				// widget specific data

			},
			watch: {
				// refresh items when these values changes
			},
			computed: {
			},
			methods: {
				itemdetails(e) {
					// implement this if output is only on selected item
					this.$data.selected = [e]

					output = this.buildoutput()
					console.log(JSON.stringify(output, null, 2))

					hub.returnOutput(output)
				},
				resetitems() {
					// empty items
					vm = this
					vm.$data.items.splice(0, vm.$data.items.length)
				},
				buildquery() {
					dataquery = this.$data.querytemplate

					// apply widget specific data to query template
					// should template assignment stored in general config
					// isodate = moment(vm.$data.datefrom)
					// dataquery = dataquery.replace('?mydate', '"' + isodate.format() + '"^^xsd:dateTime')

					return dataquery
				},
				buildoutput() {
					outgraph = []
					this.$data.selected.forEach(function (e) {
						console.log(e)

						var obj = {
							'@id': e.value,
							'http://purl.org/dc/terms/title': e.text,
							// add widget specific triples here
						}

						outgraph.append(obj)
					})

					return (outgraph.length == 1) ? outgraph[0] : outgraph
				},
				queryitems(cb = undefined) {
					var vm = this
					// load widget initial data
					dataquery = vm.buildquery()
					vm.$data.query = dataquery
					vm.$data.queryresult = ''
					//console.log(dataquery)
					axios.request({
						url: this.$data.endpoint + '?query=' + encodeURIComponent(dataquery),
						method: this.$data.method,
						headers: {
							'Accept': this.$data.result_type
						}
					}).then(function (response) {
						vm.resetitems()
						vm.$data.queryresult = JSON.stringify(response.data, null, 2)
						if (response.data.bindings != undefined) {
							response.data.results.bindings.forEach(function (bnd) {
								vm.$data.items.push({
									// necessary for UI display
									value: bnd.item.value,
									text: bnd.title.value,
									// additional widget specific data

								})
							})
						}
						else console.log(response)

						if (cb != undefined) cb()
						
						// preselect first item
						if (vm.$data.items.length > 0) {
							vm.itemdetails(vm.$data.items[0])
						}
					})
				}
			},
			mounted() {
				console.log('mounted')
				this.queryitems(function () {
					vm.$el.style.setProperty("display", "block")
				})
			}
		})
	}

</script>

</html>